.base {
    @apply rounded-md font-medium;
    @apply border shadow-[0px_1px_2px_rgba(0,0,0,0.05)] border-solid;
    @apply px-2;
}

.valid {
    @apply border-gray-300;
}

.valid:hover {
    @apply border-gray-500;
}

.valid:focus {
    @apply border-green;
    outline: none;
}

.error {
    @apply border-red-700 text-red-700 placeholder-red-700;
}

.error:focus {
    outline: none;
}

.errorText {
    @apply text-red-700 text-[10px];
}

.sm {
    display: inline-grid;
    @apply h-10 w-64;
}

.md {
    display: inline-grid;
    @apply h-12 w-80;
}

.lg {
    display: inline-grid;
    @apply h-16 w-96;
}

.input-sm {
    @apply h-10;
}

.input-md {
    @apply h-12;
}

.input-lg {
    @apply h-16;
}